<div class="modal-backdrop" (click)="fecharModal()"></div>

<div class="modal-content">
  <div class="modal-icon">
    <i class="fa-solid fa-users"></i>
  </div>

  <div class="controls-panel">

  <button class="btn btn-danger btn-lg" (click)="decrementar()" aria-label="Diminuir jogadores">
    <i class="fa-solid fa-minus"></i>
  </button>
  
  <div class="players-display">
    {{ jogadoresAtuais }} de {{ jogadoresTotais }}
  </div>


  <button class="btn btn-success btn-lg" (click)="incrementar()" aria-label="Aumentar jogadores">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>
</div>