<div class="modal-backdrop fade show"></div>
<div class="modal fade show d-block" tabindex="-1" (click)="onClose()">
  
  <div class="modal-dialog modal-dialog-centered" (click)="$event.stopPropagation()">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title h2">Imagem de Fundo</h5>
        <button type="button" class="btn-close" (click)="onClose()" aria-label="Fechar"></button>
      </div>
      
      <div class="modal-body text-center">
        <p>Escolha uma nova imagem ou remova a atual.</p>
        
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="fileInput.click()">
            <i class="fa-solid fa-upload me-2"></i>
            Carregar Imagem
          </button>
          <button type="button" class="btn btn-danger btn-lg px-4" (click)="onRemoveImage()">
            <i class="fa-solid fa-trash me-2"></i>
            Remover
          </button>
        </div>

        <input 
          type="file" 
          class="d-none" 
          #fileInput 
          (change)="onFileChange($event)" 
          accept="image/png, image/jpeg, image/webp">
      </div>

    </div>
  </div>
</div>