/* Sobrescreve as variáveis do Bootstrap para criar um tema escuro */
:host .modal-content {
  --bs-modal-bg: #212529;
  --bs-modal-color: #e9ecef;
  --bs-modal-border-color: #fca311;
  --bs-modal-header-border-color: rgba(255, 255, 255, 0.1);
}

/* Estilo para o título do modal */
:host .modal-header .h2 {
  font-family: 'Teko', sans-serif;
  color: #fca311;
}

/* Deixa o botão de fechar (X) branco para contrastar com o fundo */
:host .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

/* Estilo para o parágrafo no corpo do modal */
:host .modal-body p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}